*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body{

    background-color: rgb(87, 87, 249);
    display: grid;
    place-items: center;
}

.container{
    height: 400px;
    width: 800px;
    max-width: 100%;
    border: 1px solid blue;
     background-color: rgba(252, 197, 0, 0.928);
     text-align: center;
     padding: 20px;
     margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    
  
}

h3{
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    font-size:40px;
    color: red;
}

span{
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(226, 5, 5), rgb(45, 12, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}

/* for onchange.html */
.cel,.fer{
    display: inline;

}
input{
    height: 40px;
    width: 200px;
}